@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

$theme-colors: (
  primary: #1420a0,
  secondary: #3934d0,
  secondary-hover: #5447e2,
  text-main: #ffffff,
  text-contrast: #000000,
  header-big-block: #251ee3,
  header-narrow-block: #0723fb,
);

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

@import "./components/components_style";

.app {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 900px;
}

body {
  font-family: "Open sans", sans-serif;
}
